<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/boostrap/bootstrap.min.css">
    <!-- CSS PERSONAL -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    {{{body}}}

    <script src="/jquery/jquery.min.js"></script>
    <script src="/boostrapjs/bootstrap.min.js"></script>
    <script src="/axios/axios.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="/js/imagen.js"></script>


</body>
</html>