<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Colores</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Colores disponibles</h1>
</body>
</html>
