<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Contacto</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <%- include('partials/navbar') %>
  <h2>Usted se encuentra en Contacto</h2>

  <% if (message) { %>
    <div class="alert"><%= message %></div>
  <% } %>
</body>
</html>
