{{> page/nav}}
<p class="container mt-3">{{> page/title}}</p>
<hr class="container">
<div class="container">
    <div class="row">

        {{#each dataCard}}
            <div class="col-md-4">
                {{> page/card
                    titulo = this.title
                    imagen = this.url
                    descripcion = this.description
                }}
            </div>
        {{/each}}

    </div>
</div>