{{> page/nav}}
<p class="container mt-3">{{> page/title}}</p>
<hr class="container">

<div class="container" id="productos">
    <div class="row">

    {{#each productos}}
         <div class="col-md-4">
            <div class="card mb-4">
                <img id={{this}} class="imgObjectFit" src="/img/{{this}}.png" alt="{{this}}">
            </div>
         </div>
    {{/each}}
    
    </div>
</div>

<!-- Modal Muestra productos-->
<div class="modal fade" id="mostrarProductos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Productos seleccionados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            {{!-- <div class="row"></div> --}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

